/output/
__pycache__/
target/
upload/

# Temporary files used by editors.
*~
*.swp
.#*
\#*
*.sublime-workspace

# Idea things
*.iml
.idea/
atlassian-ide-plugin.xml

# Vagrant stuff
.vagrant

# Berks
Berksfile.lock

# Bundler
Gemfile.lock

# Travis
secrets.tar.gz
*.gpg

# These are generated! See ./bin/fiji-build generate-pom
pom.xml

# Sonatype's cumbersome password management
devtools/settings-security.xml
devtools/encrypted-settings.xml
